/*
+    App-specific LESS/CSS would go here, but to make your
+    application easier to maintain, you should try to
+    minimize the use of custom CSS.
+*/

.main-view {
}

.slide-menu {
	position: absolute;
	top: 57px;
	left: 0;
	bottom: 0;
	width: 320px;
	/*background: #D8D8D8;*/
	background: #A8A8A8;
}

.slide-groupbox {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border: 5px 5px 5px 5px;
  /*text-transform: uppercase;*/
}

.onyx-groupbox .slide-groupbox {
  border-radius: 0px;
  text-transform: none;
  padding: 10px 10px 10px 10px;
}


.slide-item {
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  font-weight: bold;
  border-color: #999;
  /*border-style: none;*/
  /*background: #A8A8A8;*/
  overflow:hidden;
}

.slide-separator {
  border-color: #777;
  border-width: 2px;
}

 // http://stackoverflow.com/questions/4804581/css-expand-child-div-height-to-parents-height
.slide-sel {
	width: 5px;
	padding-bottom: 5000px;
	padding-top: 5000px;
	margin-bottom: -5000px;
    margin-top: -5000px;
    margin-right: 2px;
}
